@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:orange;
    --Blue:#0b0bcf;
    --bg:#010103;
    --border:.1rem solid rgba(30, 15, 245, 0.986);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}



.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}
.navbar {
display: flex;
}


.header .navbar a{
    margin:0 1rem;
    font-size: 1.9rem;
    color:goldenrod

}
.header .name{
    font-size: 1.5rem;
    color:yellow
}
.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}


#services-btn{
    display: none;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/Home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#070707;
 
}

.home .content p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    padding:1rem 0;
    color:#020202;
}
.about{
    margin-top: 10rem;
}
.about .row{
    display: flex;
    align-items: center;
    background:var(--main-color);
    flex-wrap: wrap;
    margin-top: 8rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#050505;
    
}

.about .row .content p{
    font-size: 1.6rem;
    color:#131212;
    padding:1rem 0;
    line-height: 1.8;
}
.services{
    margin-top: 10rem;
}

.services .box{
   display: grid;
    gap:1.5rem;
}

.services .box{
    padding:5rem;
    text-align: center;
     
}

.services .box img{
    height: 15rem;
    width: 25rem ;
   
}

.services .box h3{
    color: yellow;
    font-size: 2rem;
    padding:1rem 0;

}
.services  .box:hover > *{
    color:white
}

.Products{
margin-top: 10rem;
}
.Products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.Products .box-container .box{
    text-align: center;
    padding: 2rem;

}

.Products .box-container .box .image{
    padding: 2.5rem 0;
}

.Products .box-container .box .image img{
    height: 20rem;
}

.Products .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}


.contact{
margin-top:10rem;
}

.contact .row{
    display: flex;
    flex: 4rem;   
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background:var(--bgw);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    padding-right: 50rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}
.Tech-News{
    margin-top: 10rem;
}

.Tech-News .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    
}

.Tech-News.box-container .box .image{
    height: 15rem;
    overflow:hidden;
    width: 100%;
}
.Tech-News .box-container .box{
    text-align: center;
}
.Tech-News .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 50%;
}


.Tech-News .box-container .box .content{
    padding:2rem;
}

.Tech-News .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}


.Tech-News .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.Tech-News.box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}
.footer .share p{
font-style: italic;
color: orange;
font-size: 2rem;
text-transform: none;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}




/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #services-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}